.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button1 {
  background-color: red;
}

.flex-container {
  color: midnightblue;
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  display: flex;
  margin: 10px;
  text-align: center;
  font-size: 26px;
}

.flex-container img {
  width: 20%;
  height: 20%;
  border-radius: 2%;
}

.show-card {
  color: rgb(55, 3, 104);
  margin: auto;
  border: 1px solid black;

  box-shadow: 0 2px 3px grey;
  padding: 16px;
  text-align: center;

}

.show-card > div {
  width: 100%;
  height: auto;
  
}